<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>Web Desig Mastery | Carserving</title>
</head>

<body>
  <header class="header">
    <nav>
      <div class="nav__bar">
        <div class="logo nav__logo">
          <a href="home.ejs"><img src="images/assets/logo.png" alt="logo" /></a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <i class="ri-menu-3-line"></i>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="home.ejs">HOME</a></li>
        <li><a href="/about.ejs">ABOUT</a></li>
        <li><a href="cars.ejs">CARS</a></li>
        <li><a href="/contact.ejs">CONTACT</a></li>
        <li><a href="book.ejs" role="button" class="btn-primary">Book Now</a></li>
      </ul>
    </nav>
    <div class="section__container header__container" id="home">
      <div class="header__content">
        <h1>Rent & Drive Now</h1>
      </div>
    </div>
  </header>

  <section class="banner__container">
    <div class="banner__card">
      <h4>Find the perfect vehicle for your next adventure</h4>
    </div>
    <div class="banner__card">
      <h4>experience the best drive with our premium car rental service.</h4>
    </div>
    <div class="banner__image">
      <img src="images/assets/banner.jpg" alt="banner" />
    </div>
  </section>

  <section class="section__container experience__container" id="about">
    <div class="experience__image">
      <img src="images/image/OIP.jpg" alt="experience" />
    </div>
    <div class="experience__content">
      <p class="section__subheader"> Reliable Vehicles</p>
      <h2 class="section__header">
        our variety fleet
      </h2>
      <p class="section__description">
        Reliable Vehicles
        Our fleet features a diverse range of well-maintained vehicles from trusted brands.
        From compact cars to spacious SUVs
        we have the right ride to accommodate your group size and luggage needs. Rest assured, each car undergoes a
        thorough inspection to ensure your safety and comfort.
      </p>
      <button onclick="openCarPage()" class="btn"> show cars</button>
    </div>
  </section>


  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
  </div>
  </section>

  <footer class="footer">

    <div class="section__container footer__container">
      <div class="footer__col">
        <div class="logo footer__logo">
          <a href="#"><img src="images/assets/logo.png" alt="logo" /></a>
        </div>
        <p class="section__description">
          With a rich legacy spanning 25 years, our commitment to excellence
          in car servicing is unwavering.
        </p>
        <ul class="footer__socials">
          <li>
            <a href="#"><i class="ri-facebook-fill"></i></a>
          </li>
          <li>
            <a href="#"><i class="ri-google-fill"></i></a>
          </li>
          <li>
            <a href="#"><i class="ri-instagram-line"></i></a>
          </li>
          <li>
            <a href="#"><i class="ri-youtube-line"></i></a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h4>Our Services</h4>
        <ul class="footer__links">
          <li><a href="privacy.ejs">Privacy</a></li>
          <li><a href="contact.ejs">contact</a></li>
          <li><a href="terms.ejs">terms and condtions</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <h4>Contact Info</h4>
        <ul class="footer__links">
          <li>
            <p>
              Experience the magic of a rejuvenated ride as we pamper your car
              with precision care
            </p>
          </li>
          <li>
            <p>Phone: <span>+91 9876543210</span></p>
          </li>
          <li>
            <p>Email: <span>info@carserving.com</span></p>
          </li>
        </ul>
      </div>
    </div>
  </footer>


  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>